*.o
*.DS_Store
*.d
.clang
.cache
compile_commands.json
**tags**
*.db
*.nsdb
*.wal
*.bin
*.dat
*node_modules*
*dist*
history.txt
.idea
build
build_coverage
create
dlread
nspprint
walfprint
thread_pool
read
write
.gdbinit
*_example
gmon.out
*.gcda
*.gcno
*.gcov
docs/build/
.clangd

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.Python
vgcore.*
thirdparty/openssl
thirdparty/zstd
thirdparty/linenoise

# Java
*.class
*.jar
bindings/java/jnumstore/build/
.gradle/
build/doxygen/
docs/api/
testdb/
